.kSGfGW1 {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 1100;
  background: rgba(0, 0, 0, 0.5);
}
.fahGvB1 {
  position: fixed;
  top: 50%;
  left: 50%;
  color: rgb(240, 185, 11);
  background: transparent;
  box-shadow: none;
}
