.kvEeOF {
  -webkit-box-flex: 1;
  flex-grow: 1;
}

.jfuazO {
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  background: rgb(253, 253, 253);
}
.jvYfux {
  width: 1200px;
  min-width: 960px;
}
.iWYAnd {
  color: rgb(33, 40, 51);
  font-size: 20px;
  height: 40px;
  line-height: 30px;
  display: flex;
  -webkit-box-pack: start;
  justify-content: flex-start;
  background: rgb(255, 255, 255);
}
.dleAcA {
  display: flex;
  -webkit-box-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  align-items: center;
  box-shadow: rgba(90, 102, 124, 0.08) 0px 1px 20px 0px;
  height: 40px;
  background: rgb(255, 255, 255);
  padding: 0px 5px 0px 15px;
}
.cPxcHa {
  display: flex;
  flex-wrap: wrap;
}
.iWYAnd .text-address {
  font-size: 14px;
  margin-left: 20px;
  color: rgb(132, 142, 156);
}
.iWYAnd .text-address i {
  margin-left: 5px;
}
.cNStFF {
  width: 25px;
  height: 25px;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  cursor: pointer;
  margin-left: 10px;
  position: relative;
  z-index: 100;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(132, 142, 156);
  border-image: initial;
  border-radius: 3px;
}
.cNStFF .qrCode {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 10px 10px 0px;
  position: absolute;
  top: 28px;
  left: 0px;
  display: none;
  padding: 10px;
  background: rgb(255, 255, 255);
}
.iulYhq {
  position: relative;
  display: inline-block;
  background: rgb(255, 255, 255);
  border-width: 2px;
  border-style: solid;
  border-color: rgb(240, 185, 11);
  border-image: initial;
  padding: 10px;
}
.iulYhq > canvas {
  display: block;
  position: relative;
  z-index: 100;
}

.qrForm {
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  text-align: center;
}

.cOshIS {
  position: relative;
}
.cSAPvK {
  margin-top: 10px;
  display: flex;
  -webkit-box-pack: end;
  justify-content: flex-end;
}
.dcZana {
  width: 100%;
  border-collapse: separate;
  border-color: rgb(253, 253, 253);
  border-spacing: 0px 5px;
}
.dcZana tr {
  padding: 10px 0px;
}
.byspTh {
  background: 0% 0% / auto 100% rgb(253, 253, 253);
}

.byspTh th {
  background-color: rgb(253, 253, 253);
  word-break: break-all;
  cursor: pointer;
  color: rgb(132, 142, 156);
  height: 40px;
  text-align: left;
  line-height: 40px;
}
.byspTh th:first-child {
  text-indent: 10px;
}
.byspTh tr {
  font-size: 13px;
  color: rgb(72, 81, 93);
  box-shadow: none;
  border-width: initial;
  border-style: none;
  border-color: initial;
  border-image: initial;
}
tbody {
  display: table-row-group;
}
.gjcHsq tr td {
  position: relative;
  background-color: rgb(255, 255, 255);
  word-break: break-all;
  cursor: pointer;
  font-size: 12px;
  color: rgb(33, 40, 51);
  text-align: left;
  line-height: 40px;
  border-width: initial;
  border-style: none;
  border-color: initial;
  border-image: initial;
}
.gjcHsq tr {
  box-shadow: rgba(90, 102, 124, 0.08) 0px 1px 20px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(255, 255, 255);
  border-image: initial;
  border-radius: 3px;
  transition: all 0.2s ease-in 0s;
}
.gjcHsq tr td:first-child {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  text-indent: 10px;
  border-left: 1px solid rgb(255, 255, 255);
}
.jvVxXM {
  color: rgb(33, 40, 51);
  white-space: nowrap;
}
.feIRPa {
  color: rgb(33, 40, 51);
  white-space: nowrap;
  display: flex;
  -webkit-box-pack: end;
  justify-content: flex-end;
  padding-right: 10px;
}
.ircCEl {
  text-align: center;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  position: relative;
  width: auto;
  height: 24px;
  line-height: 23px;
  box-sizing: border-box;
  font-size: 13px;
  margin-right: 10px;
  color: rgb(240, 185, 11);
  border-radius: 3px;
  overflow: hidden;
  outline: none;
  background: rgb(255, 255, 255);
  padding: 0px 10px;
  border-width: 1px;
  border-style: solid;
  border-image: initial;
  border-color: rgb(240, 185, 11);
}
.ircCEl:hover {
  color: rgb(255, 255, 255);
  background: rgb(240, 185, 11);
}

.gjcHsq tr:hover {
  box-shadow: rgba(90, 102, 124, 0.2) 0px 1px 20px;
}
.cNStFF:hover i {
  opacity: 0.6;
}
.dJRkzW {
  font-size: 18px;
}
.cNStFF:hover .qrCode {
  display: block;
}
.iulYhq::before {
  content: ' ';
  display: block;
  width: 198px;
  height: 174px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: rgb(255, 255, 255);
}
.iulYhq::after {
  content: ' ';
  display: block;
  width: 174px;
  height: 198px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: rgb(255, 255, 255);
}

.infinite-scroll-component {
  height: auto;
  overflow: auto;
}