.bUAaOS {
  background: white;
}
.playlists-wrapper {
  grid-column: 2 / 3;
  grid-row: 1 / -1;
}
.gGysvU {
  display: flex;
  position: relative;
  margin: 60px 20px 20px;
  border-bottom: 2px solid rgb(82, 71, 99);
}
.gGysvU svg {
  position: relative;
  top: 4px;
}
.gGysvU .underline {
  content: '';
  position: absolute;
  bottom: -2px;
  width: 100%;
  transform: scale(0);
  height: 4px;
  display: block;
  transition: all 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86) 0s;
  background: rgb(130, 216, 216);
}
input,
select,
textarea {
  color: rgb(82, 71, 99);
  font-weight: 800;
  margin-bottom: 10px;
  background: rgb(255, 255, 255);
  border-width: 1px;
  border-style: solid;
  border-color: rgb(82, 71, 99);
  border-image: initial;
  border-radius: 2px;
  padding: 6px 10px;
}
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0px;
}
.gGysvU > input {
  border-top-width: initial;
  border-right-width: initial;
  border-left-width: initial;
  border-top-color: initial;
  border-right-color: initial;
  border-left-color: initial;
  max-width: none;
  width: 100%;
  margin-bottom: 0.5rem !important;
  border-style: none none none;
  border-image: initial;
  background: transparent;
  border-bottom: none !important;
}
.gGysvU > input:focus {
  outline: none;
}
.jxllbm {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  padding: 20px 15px;
  gap: 20px 20px;
}

.bWCvDb {
  font-size: 16px;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.25) 1px 2px 2px;
  font-family: 'Open Sans';
  max-width: 230px;
  overflow: hidden;
  border-radius: 15px;
  padding: 1em;
  transition: all 0.3s ease 0s;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.125);
}
.ePsksC {
  /* display: grid; */
  min-height: 120px;
  z-index: 1;
  position: relative;
  grid-template: auto 1fr 4fr 1fr none;
  gap: 0.625em 0.625em;
}
.kClzgQ {
  font-size: 1em;
  letter-spacing: 1px;
  text-align: left;
}
.hoFFgT {
  align-self: end;
  text-align: right;
}
.fTfjsA {
  margin-left: auto;
  border-radius: 5px;
  float: right;
  height: 2em;
}
.cceqce {
  font-weight: 900;
  text-align: left;
}
.hoFFgT svg {
  max-width: 100%;
  filter: drop-shadow(rgba(0, 0, 0, 0.3) 1px 1px 2px);
}
.botName {
  width: calc(100% - 50px);
  margin-left: 10px;
  display: flex;
}
.botName div :first-child {
  font-size: 17px;
  color: rgb(33, 40, 51);
}
.botName div :last-child {
  color: #6c757d !important;
}
.ircCEl1 {
  text-align: center;
  font-weight: bold;
  cursor: pointer;
  width: auto;
  height: 24px;
  line-height: 23px;
  box-sizing: border-box;
  font-size: 13px;
  color: rgb(21, 181, 221);
  border-radius: 3px;
  outline: none;
  background: rgb(255, 255, 255);
  padding: 0px 10px;
  border-width: 1px;
  border-style: solid;
  border-image: initial;
  border-color: rgb(21, 181, 221);
  margin-left: auto;
}
.ircCEl1:hover {
  color: rgb(255, 255, 255);
  background: rgb(21, 181, 221);
}
