<section className="playlists-wrapper">
  <div data-testid="search-bar" className="SearchBar__SearchWrapper-sc-1xki62n-0 gGysvU">
    <svg x="0px" y="0px" width="24px" height="24px" viewBox="0 0 24 24" enable-background="new 0 0 24 24">
      <circle fill="none" stroke="#000" stroke-linejoin="round" stroke-miterlimit="10" cx="8.5" cy="8.5" r="8"></circle>
      <line fill="none" stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="14.156"
        y1="14.156" x2="23.5" y2="23.5">
      </line>
    </svg>
    <input type="text" data-testid="search-bar-input" value="" placeholder="Filter Series" />
    <div className="underline"></div>
  </div>
  <div className="Layouts__TutorialGrid-fbi9rv-11 jxllbm">
    <a href="/tutorials/static-vue-with-gridsome" style="text-decoration: none;">
      <article color="#fff" data-testid="series" className="SeriesCard__Card-sedkn5-0 bWCvDb">
        <div className="SeriesCard__CardLayout-sedkn5-1 ePsksC"><span
            className="SeriesCard__Level-sedkn5-2 kClzgQ">Level
            1</span>
          <div style="text-align: right;">
            <span className="SeriesCard__Badge-sedkn5-3 fTfjsA">Pro</span>
          </div>
          <div style="align-self: end;">
            <h1 data-testid="series-name" className="SeriesCard__Title-sedkn5-5 cceqce">Static Vue With Gridsome</h1>
            <p className="SeriesCard__Length-sedkn5-6 iCRnJA">23 videos</p>
            <div>
              <button className="Tags__Tag-sc-5fvdsa-0 khfXIX">vue</button>
              <button className="Tags__Tag-sc-5fvdsa-0 khfXIX">javascript</button>
              <button className="Tags__Tag-sc-5fvdsa-0 khfXIX">gridsome</button>
            </div>
          </div>
          <div className="SeriesCard__Logo-sedkn5-4 hoFFgT">
            <svg width="122" height="106" viewBox="0 0 122 106" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M71.5909 2.99999L72.1683 1.99999H73.323H114.76H118.224L116.492 5L62.612 98.3223L60.88 101.322L59.1479 98.3223L5.26795 5L3.53589 1.99999H7H48.437H49.5917L50.169 2.99999L60.88 21.552L71.5909 2.99999Z"
                fill="#4DBA87" stroke="white" stroke-width="3"></path>
              <path
                d="M73.3228 4.00088L60.8798 25.5529L48.4367 4.00088H28.5518L60.8798 59.9941L93.2078 4.00088H73.3228Z"
                fill="#435466"></path>
            </svg>
          </div>
        </div>
      </article>
    </a>
  </div>
</section>