<div class="sc-btzYZH ewZxJs">
  <div class="sc-cZLAbK gUtTAS">
    <div class="sc-cEvuZC kCJCmb">
      <div class="sc-iVOTot kOwkAM">Transaction History</div>
      <div>
        <div class="sc-iyvyFf gRnqNO">
          <table class="sc-kTUwUJ sc-gzOgki bkihkp">
            <thead class="sc-kPVwWT gTmcD">
              <tr>
                <th data-key="txHash" class="showSortMark">
                  <div class="sc-esjQYD fchNtk">TxHash<span class="sc-kfGgVZ hfdPRR"><i
                        class="iconfont icon-sort_desc sc-dnqmqq iiYHFz" size="16" color=""></i></span></div>
                </th>
                <th data-key="date" class="showSortMark">
                  <div class="sc-esjQYD fchNtk">Date<span class="sc-kfGgVZ hfdPRR"><i
                        class="iconfont icon-sort_desc sc-dnqmqq iiYHFz" size="16" color=""></i></span></div>
                </th>
                <th>Pair</th>
                <th>Type</th>
                <th>Value</th>
                <th>TxFee</th>
                <th></th>
              </tr>
            </thead>
            <tbody class="sc-hwwEjo jWardX"></tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="sc-kXeGPI hpRMTi">
      <div class="sc-iVOTot kOwkAM">Transaction History</div>
      <div>
        <div class="infinite-scroll-component " style="height: auto; overflow: auto;"></div>
      </div>
    </div>
  </div>
</div>