<div className="sc-cQFLBn kViODF" style="opacity: 1;">
  <div>
    <div className="sc-gojNiO eOBWdQ" style="opacity: 1; transform: translate(-245px, 0px);">
      <div className="sc-daURTG bXhOGH">Confirm Transaction</div>
      <div className="sc-bXGyLb flEHgi">
        <div className="sc-eLExRp OsgFE">
          <div className="sc-cbkKFq BDdrA"></div>
          <div className="sc-cbkKFq cMpCTv"></div>
        </div>
        <div>
          <div>
            <div className="sc-GMQeP bXtjBe"><span className="name">BNB</span><span className="fullName">Binance Chain Native
                Token</span></div>
            <div className="sc-esOvli sc-exAgwC jeQarz">
              <div className="title">To:</div>
              <div className="value">tbnb19xjaxfq88vetzfrsdxqtph3evr4tqeeudw62dm</div>
            </div>
            <div className="sc-esOvli sc-exAgwC jeQarz">
              <div className="title">From:</div>
              <div className="value">tbnb19xjaxfq88vetzfrsdxqtph3evr4tqeeudw62dm</div>
            </div>
            <div className="sc-esOvli sc-exAgwC jeQarz">
              <div className="title">Amount:</div>
              <div className="value"><span className="sc-dqBHgY igApRg">12</span></div>
            </div>
            <div className="sc-esOvli sc-exAgwC jeQarz">
              <div className="title">Memo:</div>
              <div className="value"></div>
            </div>
            <div className="sc-esOvli sc-exAgwC jeQarz">
              <div className="title">Fee:</div>
              <div className="value"><span className="sc-dqBHgY igApRg">0.000625</span> BNB</div>
            </div>
          </div>
        </div>
      </div>
      <div className="sc-lkqHmb jPpgi"><i className="iconfont icon-close sc-dnqmqq iiYHFz" size="16" color=""></i></div>
      <div className="sc-hzDkRC iqQaYS" style="justify-content: flex-end; margin-top: 20px;"><button
          className="sc-bZQynM sc-krvtoX fzSklC"><span>Previous</span></button><button width="150px" height="34px"
          className="sc-bZQynM axcGx"><span>Send Transaction</span></button></div>
    </div>
  </div>
</div>