<div class="sc-iVOTot kWvvtK" style="opacity: 1; transform: translate(-245px, 0px);">
    <div class="sc-kOCNXg esTWxZ">Send Asset</div>
    <div class="sc-hZhUor hQTvNh">
        <div class="sc-iysEgW kOhtc">
            <div class="sc-fxgLge cDKtWs"></div>
            <div class="sc-fxgLge ibjfRk"></div>
        </div>
        <div>
            <div>
                <div class="sc-eTyWNx hoKJiD" style="border-bottom: none; margin-top: 20px; padding-bottom: 0px;">
                    <p class="title">Select Asset</p>
                    <div width="100%" class="select  sc-dHmInP iBVLYA">
                        <div>
                            <div class="selectValue"><span class="sc-evWYkj eUyRlB">000</span>&nbsp;&nbsp;<span
                                    class="sc-idjmjb cLWIo">binance coin of he yi</span></div><i
                                class="sc-ejGVNB dDwKIq"></i>
                        </div>
                    </div>
                </div>
                <div class="sc-eTyWNx hoKJiD">
                    <div class="sc-cLxPOX cyWHjc">
                        <p class="label">To Address</p>
                        <div><input type="text" placeholder="To Address" value="" />
                            <div class="border-bottom"></div>
                        </div>
                    </div>
                </div>
                <div class="sc-eTyWNx hoKJiD">
                    <div class="sc-cLxPOX cyWHjc">
                        <p class="label">Amount to send</p>
                        <div><input type="number" placeholder="Amount to send" value="" />
                            <div class="border-bottom"></div>
                        </div>
                    </div>
                    <div class="sc-ccXozh tXGYI">Max</div>
                </div>
                <div class="sc-eTyWNx hoKJiD" style="border-bottom: none;">
                    <p class="title">Memo</p><textarea class="textarea"></textarea>
                </div>
                <div class="sc-eTyWNx hoKJiD" style="border: none; margin-top: 20px;">
                    <div class="sc-bsVVwV bkSpCY">
                        <div class="sc-kbGplQ clrIxQ"><span class="fee-title">Fee:</span><span class="fee-value"><span
                                    class="sc-tilXH yKCJu">0.000625</span> BNB</span></div>
                        <div class="sc-exdmVY iRFfLO"><span class="Available-title">Available:</span><span
                                class="Available-value"><span class="sc-tilXH yKCJu">0.00000000</span></span></div>
                    </div>
                </div>
                <div class="sc-jDwBTQ cPxcHa" style="justify-content: flex-end; margin-top: 16px;"><button
                        class="sc-bZQynM sc-fHlXLc jNKIKp"><span>Next</span></button></div>
            </div>
        </div>
    </div>
</div>