.textConfirmMnemonic {
  text-align: left;
  font-size: 16px;
  display: flex;
  font-weight: 500;
  margin: 20px 0px;
}

.mnemonicConfirm {
  position: relative;
  min-height: 100px;
  background: rgb(249, 249, 249);
  border-width: 1px;
  border-style: dashed;
  border-image: initial;
  /* border-color: rgb(223, 226, 231); */
  padding: 10px;
  overflow: hidden;
}
.mnemonicConfirm .default {
  border-color: rgb(223, 226, 231);
}
.mnemonicConfirm.invalid {
  border-color: rgb(242, 48, 81);
}
.mnemonicContent {
  display: flex;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  justify-content: flex-start;
  margin-top: 20px;
  margin-left: -5px;
}

.mnemonicItem {
  display: flex;
  flex-wrap: wrap;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 6px 0px;
  font-size: 14px;
  max-height: 27px;
  color: rgb(33, 40, 51);
  -webkit-box-align: center;
  align-items: center;
  cursor: pointer;
  box-sizing: border-box;
  font-weight: 600;
  float: left;
  padding: 3px 8px;
  background: rgb(255, 255, 255);
  margin: 5px;
}

.incorrectMnemonic {
  font-size: 12px;
  color: rgb(242, 48, 81);
  line-height: 13px;
}
.mnemonicItem {
  display: flex;
  flex-wrap: wrap;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 6px 0px;
  font-size: 14px;
  max-height: 27px;
  color: rgb(33, 40, 51);
  -webkit-box-align: center;
  align-items: center;
  cursor: pointer;
  box-sizing: border-box;
  font-weight: 600;
  float: left;
  padding: 3px 8px;
  background: rgb(255, 255, 255);
  margin: 5px;
}
.removeMnemoItem {
  margin-left: 5px;
  margin-bottom: 2px;
}
.mnemonicItem:hover {
  color: rgb(255, 255, 255);
  background: rgb(240, 185, 11);
}