.header2 {
  font-size: 16px;
  color: rgb(132, 142, 156);
  font-weight: bold;
  margin: 40px 0px;
}
.header2 span {
  font-size: 16px;
}
.header2 .totalPage {
  color: rgb(234, 236, 239);
}
.header2 .title {
  font-size: 18px;
  color: rgb(72, 81, 93);
  margin-left: 8px;
}
.textContent {
  -webkit-box-pack: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
}

.textContent .text {
  font-size: 16px;
  margin-top: 40px;
  color: rgb(72, 81, 93);
  text-align: center;
}