.fnWXYz {
  text-align: left;
  font-size: 16px;
  display: flex;
  margin: 20px 0px;
}

.dUwgbJ {
  text-align: center;
  position: relative;
  background: rgb(249, 249, 249);
  border-width: 1px;
  border-style: dashed;
  border-color: rgb(216, 216, 216);
  border-image: initial;
  padding: 20px;
}

.iYjXjI {
  text-align: right;
  cursor: pointer;
  color: rgb(72, 81, 93);
  padding: 10px 0px;
}