.unlockWallet {
    opacity: 1;
    transform: translate(0px, 0px);
    position: relative;
    height: 100%;
    display: flex;
    padding-bottom: 50px;
    -webkit-box-pack: center;
    justify-content: center;
}

.unlockPack {
    width: 830px;
    min-width: 750px;
    position: absolute;
    top: 130px;
    left: 50%;
    transform: translateX(-50%);
}

.container {
    box-shadow: rgb(228, 228, 228) 0px 0px 10px;
    background: rgb(255, 255, 255);
    padding: 40px 60px;
}

.title {
    font-size: 24px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 20px;
    text-align: center;
    color: rgb(33, 40, 51);
}

.container .ship-text {
    font-size: 12px;
    margin-bottom: 8px;
    text-align: center;
}

.unlockTable {
    display: flex;
    flex-direction: row;
}

.leftTable {
    margin-bottom: 20px;
    margin-right: 40px;
    color: rgb(33, 40, 51);
}

.leftTitle {
    font-size: 16px;
    white-space: nowrap;
    font-weight: bold;
}

.rightTable {
    width: 100%;
    color: rgb(72, 81, 93);
    position: relative;
    padding-bottom: 40px;
}

.unlockType {
    display: flex;
    flex-direction: column;
    margin-top: 28px;
    padding-right: 40px;
    border-right: 1px solid rgb(234, 236, 239);
}

.unlockType .on {
    color: rgb(240, 185, 11);
    box-shadow: rgba(223, 226. 231, 0.5) 0px 0px 15px px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    font-weight: 600;
    background: rgb(255, 255, 255);
    border-left: 4px solid rgb(240, 185, 11);
}

.unlockType li {
    height: 40px;
    line-height: 40px;
    cursor: pointer;
    width: 200px;
    padding-left: 10px;
    margin-bottom: 20px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    font-size: 15px;
    position: relative;
    box-sizing: border-box;
    border-radius: 3px;
}

.unlockType li.on .selected {
    display: block;
}

.unlockType  li .selected {
    width: 12px;
    height: 12px;
    position: absolute;
    right: 10px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(240, 185, 11);
    border-image: initial;
    border-radius: 50%;
    background: rgb(255, 255, 255);
}

.opt1 {
    font-size: 14px;
    color: rgb(72, 81, 93);
    cursor: pointer;
    padding: 45px 0px 10px;
}

.opt1 .show {
    font-size: 18px;
}

.upload {
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: rgb(240, 185, 11);
    font-size: 16px;
    cursor: pointer;
    position: relative;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    margin-top: 5px;
    background: rgb(255, 255, 255);
    border-width: 1px;
    border-style: solid;
    border-color: rgb(240, 185, 11);
    border-image: initial;
    border-radius: 3px;
}

.upload span {
    font-weight: bold;
    transition: transform 0.25s ease 0s;
}

.upload input {
    width: 100%;
    height: 100%;
    opacity: 0;
    display: block;
    top: 0px;
    left: 0px;
    position: absolute;
    cursor: pointer;
}

.opt2 {
    font-size: 14px;
    display: flex;
    cursor: pointer;
    padding: 10px 0px 0px;
    transition: all 0.2s ease 0s;
}

.opt2 .show {
    font-size: 18px;
}

.keyText {
    height: 70px;
    width: 95%;
    resize: none;
    padding: 10px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(240, 240, 240);
    border-image: initial;
    outline: none;
}

.passBox {
    font-size: 14px;
    margin: 40px 0px;
}

.passInput {
    margin-top: 20px;
    position: relative;
}

.passInput .lable {
    font-size: 16px;
    position: absolute;
    transform: translateY(0px);
    z-index: 100;
    color: rgb(132, 142, 156);
    transition: all 0.2s ease 0s;
}

.passInput .inputWrap {
    position: relative;
    z-index: 300;
}

.passInput input {
    border-top-width: initial;
    border-right-width: initial;
    border-left-width: initial;
    border-top-color: initial;
    border-right-color: initial;
    border-left-color: initial;
    width: 100%;
    height: 100%;
    font-size: 14px;
    caret-color: rgb(240, 185, 11);
    color: rgb(72, 81, 93);
    position: relative;
    border-style: none none solid;
    border-image: initial;
    border-radius: 0px;
    outline: none;
    border-bottom: 1px solid rgba(234, 236, 239, 0.5);
    padding: 0px 0px 10px;
    background: inherit;
}

.formFooter {
    display: flex;
    flex-direction: row;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    position: absolute;
    left: 0px;
    right: 0px;
}

.unlockBtn {
    width: 170px;
}

.unlockBtn span {
    margin-right: 10px;
}

.createNew {
    font-size: 14px;
    color: rgb(240, 185, 11);
}

.unlockBtn {
    width: 170px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    color: rgb(255, 255, 255);
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    background: linear-gradient(90deg, rgb(239, 184, 11) 0%, rgb(251, 218, 60) 100%);
    border-radius: 3px;
    overflow: hidden;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
    outline: none;
}