// color

$color_blue: #15b5dd;
$color_blue_link: #4a90e2;
$color_blue_lagoon: #04728E;
$color_white: #ffffff;
$color_white_rgb: #fdfdfd;
$color_primary: #212833;
$color_secondary: #848e9c;
$color_grey_athens: #ebedef;
$color_grey_river: #48515D;
$color_grey_light: #f9f9f9;
$color_grey_alto: #d8d8d8;
$color_green: #00c087;
$color_red: #E03A3E;
// font-family 

$font_root: 'Roboto', sans-serif;

// font size

$font_size_base: 14px;
$font_size_small: 12px;
$font_size_medium: 16px;
$font_size_above_medium: 20px;
$font_size_large: 28px;