@import './variables';
@import './common';

.header{
  width: 100%;
  background: $color_white;
  height: 50px;
  padding: 0 35px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid $color_grey_athens;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}

.main_nav{
  .nav_hed{
    display: flex;
    align-items: center;
    .nav_items{
      padding: 0 15px;
      font-weight: 500;
      line-height: 50px;
      color: $color_primary;
      &.sub{
        position: relative;
        cursor: pointer;
        &:hover{
          .sub_child{
            transition: all 0.3s ease;
            visibility: visible;
            transform: translateY(-1px);
          }
        }
        .sub_child{
          position: absolute;
          border: 1px solid $color_grey_athens;
          padding: 15px;
          left: 1px;
          background: $color_white;
          min-width: 110px;
          visibility: hidden;
          transform: translateY(-15px);
          .sub_child_items{
            line-height: 30px;
          }
        }
      }
      a{
        color: $color_primary;
        &:hover{
          transition: all .4s ease;
          text-decoration: underline;
        }
      }
    }
  }
}

// home container
.home{
  margin-top: 50px;
}

// Banner
.banner{
  padding: 50px 0;
  color: $color_white;
  background-color: $color_blue;
  .flex{
    height: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  h3{
    font-size: $font_size_large;
    font-weight: 500;
  }
  .direc_link{
    color: $color_white;
    display: block;
    margin: 10px 0 20px 0;
  }
}

// search box
.search_box_container{
  display: flex;
  align-items: center;
  width: 470px;
  height: 35px;
  border-radius: 3px;
  overflow: hidden;
  background: $color_white;
  &:hover{
    transition: all .3s ease;
    box-shadow: -2px 3px 15px 0px $color_blue_lagoon;
  }
  .search_input{
    width: calc(100% - 52px);
    height: 100%;
    padding: 0 10px;
    border: none;
    font-size: $font_size_small;
    background: $color_white;
    &:focus{
      outline: none;
    }
  }
  .btn_search {
    width: 52px;
    height: 100%;
    text-align: center;
    border: none;
    cursor: pointer;
    background: none;
    i{
      font-size: $font_size_medium;
      color: $color_primary;
    }
  }
}

.blocks_transactions_view{
  margin: 40px 0;
  .container{
    display: flex;
    justify-content: space-between;
  }
  .flex{
    display: flex;
    justify-content: space-between
  }
  .blocks_box{
    width: 40%;
    .row_blocks{
      margin: 0 15px;
      padding: 10px 0;
      box-sizing: border-box;
      border-bottom: 1px solid rgba($color_grey_athens, 0.5);
      .title{
        margin-bottom: 8px;
      }
      .block_count{
        font-weight: 500;
        a{
          margin-left: 5px;
          &:hover{
            text-decoration: underline;
          }
        }
      }
      .includes{
        font-size: $font_size_small;
        color: $color_secondary;
        i{
          font-style: normal;
        }
        .node{
          color: $color_primary;
        }
      }
    }
  }
  .transactions_box{
    width: calc(100% - 40% - 20px);
    margin-left: 20px;
    .row_transactions{
      margin: 0 15px;
      padding: 10px 0;
      box-sizing: border-box;
      border-bottom: 1px solid rgba($color_grey_athens, 0.5);
      .info_tx{
        margin-bottom: 8px;
        .tx{
          font-weight: 500;
          width: 70%;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
        }
      }
      a{
        margin-left: 5px;
      }
      .transactions{
        font-size: $font_size_small;
        color: $color_secondary;
        .from_to{
          width: 70%;
          display: flex;
          align-items: center;
          .from{
            margin-right: 10px;
            width: 50%;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
          }
          .to{
            margin-right: 10px;
            width: 50%;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
          }
          a{
            width: 70%;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
          }
        }
        .status_order{
          color: $color_primary;
          text-transform: capitalize;
          span.fa-circle{
            font-size: 7px;
            vertical-align: middle;
            margin-right: 5px;
          }
        }
        a{
          color: $color_secondary;
          font-weight: 500;
        }
      }
    }
  }
  .box_wrap{
    height: 360px;
    overflow-y: scroll;
    background: $color_white;
    box-shadow: rgba(90, 102, 124, 0.1) 0px 2px 10px 0px;
    .seconds_time{
      color: $color_secondary;
    }
  }
  .header_top{
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    .title{
      font-size: $font_size_above_medium;
      font-weight: normal;
      i{
        font-size: $font_size_medium;
        margin-right: 10px;
      }
    }
  }
}

// footer
.footer{
  width: 100%;
  line-height: 50px;
  background: $color_white;
  border-top: 1px solid $color_grey_athens;
  // position: fixed;
  // bottom: 0;
  // left: 0;
  .container{
    display: flex;
    justify-content: flex-end;
  }
  .infomation{
    a{
      padding: 0 7px;
      cursor: pointer;
    }
  }
}

// page_info_common
.page_info_header{
  padding-top: 28px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-content: center;
  .wrap{
    font-size: $font_size_above_medium;
    font-weight: 500;
    .id_code{
      font-size: $font_size_medium;
      color: $color_secondary;
      margin-left: 15px;
    }
    .copy_id{
      margin: 0;
      width: 26px;
      line-height: 24px;
      border: 1px solid $color_secondary;
      color: $color_primary;
      text-align: center;
      font-size: $font_size_base;
      border-radius: 3px;
      margin-left: 10px;
      vertical-align: middle;
    }
  }
}

.page_info_content{
  margin-bottom: 30px;
  background: $color_white;
  box-shadow: rgba(90, 102, 124, 0.1) 0px 2px 10px 0px;
  border-radius: 3px;
  .title{
    line-height: 60px;
    padding: 0 20px;
    color: $color_grey_river;
    font-size: $font_size_medium;
    border-bottom: 1px solid rgba($color_grey_athens, 0.5);
    i{
      margin-right: 10px;
    }
  }
  .info_body{
    padding: 20px;
    .row_detail{
      padding: 8px 0;
      margin-bottom: 12px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
    }
  }
}

.row_detail{
  span.label{
    color: $color_primary;
    display: block;
    width: 14%;
  }
  .text_wrap{
    width: calc(100% - 14%);
    font-weight: 500;
    .fa-clipboard{
      margin-left: 15px;
    }
    .datacode{
      display: inline-block;
      font-size: $font_size_small;
      font-weight: normal;
      line-height: 1.7;
      border: 1px solid $color_grey_alto;
      background: $color_grey_light;
      color: $color_secondary;
      padding: 5px;
    }
    .success_color{
      color: $color_green;
    }
    .error_color{
      color: $color_red;
    }
  }
  .transaction_type{
    text-transform: capitalize;
  }
}

.breadcrumb{
  li{
    float: left;
    line-height: 24px;
    a{
      padding: 0 5px;
      font-size: $font_size_small;
      color: $color_secondary;
      position: relative;
      &:after{
        content: '/';
        position: absolute;
        right: -3px;
      }
    }
  }
}

// .table_data
.table_data{
  table{
    width: 100%;
    display: table;
    border-spacing: 0 5px;
    table-layout: fixed;
  }
  th{
    padding: 11px 16px;
    text-align: left;
    color: $color_secondary;
  }
  tbody{
    tr{
      background: $color_white;
      line-height: 18.2px;
      margin-bottom: 4px;
      box-shadow: rgba(0, 0, 0, 0.06) 0px 0px 10px 0px;
      transition: all .3s ease;
      &:hover{
        box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 10px 0px;
        transition: all .3s ease;
      }
    }
  }
  td{
    padding: 11px 16px;
    &.tx_type{
      text-transform: capitalize;
    }
    &.text_overflow{
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }
}