#root, body, html {
  height: 100%;
  box-sizing: border-box;
  min-width: 320px;
}

@font-face {
  font-family: 'DIN';
  src:  url('./../font/DINPro.otf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ProximaNova';
  src:  url('./../font/ProximaNova-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'iconfont';
  src:  url('./../font/iconfont.woff');
}

body {
  font-family: ProximaNova;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.5;
  color: #555!important;
  background-color: #fff;
  font-feature-settings: "kern";
  font-kerning: normal;
  touch-action: manipulation;
}

.container {
  position: absolute;
  top: 130px;
  left: 50%;
  transform: translateX(-50%);
}
.wallet {
  position: relative;
  height: 100%;
  display: flex;
  padding-bottom: 50px;
  justify-content: center;
}
.logo {
  height: 80px;
  cursor: pointer;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0px);
  width: 80px;
  top: 10px;
}
.box1 {
  position: absolute;
  top: 130px;
  left: 50%;
  transform: translateX(-50%);
}
@media (max-width: 768px) {
  .box1 {
    width: 100%;
  }
}
.box2 {
  width: 100%;
  box-shadow: rgb(228, 228, 228) 0px 0px 10px;
  background: rgb(255, 255, 255);
  padding: 40px 54px;
}
@media (min-width: 624px) {
  .box2 {
    width: 600px;
  }
}
.header1 {
  font-size: 24px;
  font-weight: bold;
  margin-top: 10px;
  padding-bottom: 18px;
  text-align: center;
  font-family: DIN;
}
.previousBt {
  cursor: pointer;
  display: flex;
  align-items: center;
  font-size: 14px;
  color: rgb(132, 142, 156);
}
.previousBt i {
  margin-right: 10px;
  color: inherit;
  /* font-size: 20px; */
}
.previousBt div {
  color: inherit;
}
.previousBt:hover div, .previous-button:hover i {
  color: rgb(240, 185, 11);
}
.continueBt:hover {
  transform: scale(1);
}
.continueBt {
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  color: rgb(255, 255, 255);
  justify-content: center;
  box-sizing: border-box;
  box-shadow: none;
  width: 200px;
  border-radius: 3px;
  overflow: hidden;
  border-width: initial;
  border-style: none;
  border-color: initial;
  border-image: initial;
  background: rgb(132, 142, 156);
  outline: none;
}
.continueBt.pass {
  background: linear-gradient(90deg, rgb(239, 184, 11) 0%, rgb(251, 218, 60) 100%);
}
