#root, body, html {
  height: 100%;
  box-sizing: border-box;
  min-width: 320px;
}

@font-face {
  font-family: 'DIN';
  src:  url('./../font/DINPro.otf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ProximaNova';
  src:  url('./../font/ProximaNova-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'iconfont';
  src:  url('./../font/iconfont.woff');
}

body {
  font-family: ProximaNova;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.5;
  color: #555!important;
  background-color: #fff;
  font-feature-settings: "kern";
  font-kerning: normal;
  touch-action: manipulation;
}

.container {
  position: absolute;
  top: 130px;
  left: 50%;
  transform: translateX(-50%);
}
.wallet {
  position: relative;
  height: 100%;
  display: flex;
  padding-bottom: 50px;
  justify-content: center;
}
.logo {
  height: 80px;
  cursor: pointer;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0px);
  width: 80px;
  top: 10px;
}
.box1 {
  position: absolute;
  top: 130px;
  left: 50%;
  transform: translateX(-50%);
}
@media (max-width: 768px) {
  .box1 {
    width: 100%;
  }
}
.box2 {
  width: 100%;
  box-shadow: rgb(228, 228, 228) 0px 0px 10px;
  background: rgb(255, 255, 255);
  padding: 40px 54px;
}
@media (min-width: 624px) {
  .box2 {
    width: 600px;
  }
}
.header1 {
  font-size: 24px;
  font-weight: bold;
  margin-top: 10px;
  padding-bottom: 18px;
  text-align: center;
  font-family: DIN;
}
