.container {
  position: absolute;
  top: 130px;
  left: 50%;
  transform: translateX(-50%);
}
.wallet {
  position: relative;
  height: 100%;
  display: flex;
  padding-bottom: 50px;
  -webkit-box-pack: center;
  justify-content: center;
}
.logo {
  color: rgb(240, 185, 11);
  height: 80px;
  cursor: pointer;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0px);
  width: 80px;
  top: 10px;
}
.box1 {
  position: absolute;
  top: 130px;
  left: 50%;
  transform: translateX(-50%);
}
@media (max-width: 768px) {
  .box1 {
    width: 100%;
  }
}
.box2 {
  width: 100%;
  box-shadow: rgb(228, 228, 228) 0px 0px 10px;
  background: rgb(255, 255, 255);
  padding: 40px 54px;
}
@media (min-width: 624px) {
  .box2 {
    width: 600px;
  }
}

.header {
  font-size: 24px;
  font-weight: bold;
  margin-top: 10px;
  padding-bottom: 18px;
  text-align: center;
  font-family: DIN;
}

.header2 {
  font-size: 16px;
  color: rgb(132, 142, 156);
  font-weight: bold;
  margin: 40px 0px;
}
.header2 span {
  font-size: 16px;
}
.header2 .totalPage {
  color: rgb(234, 236, 239);
}
.header2 .title {
  font-size: 18px;
  color: rgb(72, 81, 93);
  margin-left: 8px;
}

.pass {
  margin-top: 20px;
  position: relative;
}
.label-value {
  transform: translateY(-20px);
  color: rgb(72, 81, 93);
  font-size: 12px;
}
.pass .label {
  font-size: 16px;
  position: absolute;
  transform: translateY(0px);
  z-index: 100;
  color: rgb(132, 142, 156);
  transition: all 0.2s ease 0s;
}
.pass input {
  border-top-width: initial;
  border-right-width: initial;
  border-left-width: initial;
  border-top-color: initial;
  border-right-color: initial;
  border-left-color: initial;
  width: 100%;
  height: 100%;
  font-size: 14px;
  caret-color: rgb(240, 185, 11);
  color: rgb(72, 81, 93);
  position: relative;
  border-style: none none solid;
  border-image: initial;
  border-radius: 0px;
  outline: none;
  border-bottom: 1px solid rgba(234, 236, 239, 0.5);
  padding: 0px 0px 10px;
  background: inherit;
}

p {
  display: block;
  /* margin-block-start: 1em; */
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
input {
  transition: all .3s ease-in;
  -webkit-appearance: none;
}
input[type="password" i] {
  -webkit-text-security: disc !important;
}
input, textarea, select, button {
  text-rendering: auto;
  color: initial;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  margin: 0em;
  font: 400 11px system-ui;
}
.pass .inputWrap {
  position: relative;
  z-index: 300;
}
.downloadkey {
  display: flex;
  flex-direction: row;
  -webkit-box-pack: justify;
  justify-content: space-between;
  font-size: 14px;
  padding: 20px 0px 0px;
}
.unlock {
  cursor: pointer;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  color: rgb(240, 185, 11);
}
.btUnlock {
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 14px;
  cursor: pointer;
  color: rgb(255, 255, 255);
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  position: relative;
  box-sizing: border-box;
  box-shadow: none;
  width: 200px;
  border-radius: 3px;
  overflow: hidden;
  border-width: initial;
  border-style: none;
  border-color: initial;
  border-image: initial;
  outline: none;
  background: rgb(132, 142, 156);
}
.icon {
  color: inherit;
  font-size: 20px;
}
.iconfont {
  font-family: iconfont!important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-continue {
  content: "\E6A8";
}
.footer {
  font-size: 12px;
  color: rgb(132, 142, 156);
  padding: 20px 0px;
}
.footer label span {
  white-space: normal;
}
.lbFooter {
  user-select: none;
  cursor: pointer;
  display: flex;
  margin: auto;
}
.lbFooter span:last-child {
  padding-left: 5px;
  line-height: 20px;
  width: 90%;
}
.lbFooter span {
  display: inline-block;
  vertical-align: middle;
  transform: translate3d(0px, 0px, 0px);
}
.textFooter {
  font-size: 12px;
  color: rgb(132, 142, 156);
  line-height: 14px;
  white-space: nowrap;
}